@media (max-width: 900px) {
  .icon-mobile-nav[name="menu-outline"] {
    display: block;
  }

  .nav-main {
    display: none;
  }

  .top-banner {
    display: none;
  }

  .header-right img {
    width: 70vw;
  }
  .header-section {
    flex-wrap: wrap-reverse;
  }
  .header-left h1 {
    margin-top: 2.3em;
  }
  .header-left {
    max-width: 80vw;
    text-align: center;
  }
}

@media (max-width: 700px) {
  .features-desc {
    margin: 1rem 4rem;
  }

  .big-feature-container {
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 36px;
    /* background-color: green; */
  }
  .container3 {
    flex-wrap: wrap-reverse;
  }
  .feature-img img {
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
